importFrom(magrittr, "%>%")
importFrom(data.table, ":=")
export("%>%")
export(":=")
export(counts_to_fpkm)
export(counts_to_tpm)
export(fpkm_to_tpm)
export(get_gencode_coords)
export(hla_consensus)
export(hla_genotype_dt)
export(hla_infer)
export(hla_minres)
export(hla_read_alignment)
export(hla_readtx)
export(hla_refdist)
export(hla_trimnames)
export(phase_hla)
export(read_phase)
export(read_phase_probs)
export(read_qtltools)
export(read_qtltools_rtc)
export(write_phase_input)
