importFrom(magrittr, "%>%")
export("%>%")
export(calc_genotyping_accuracy)
export(counts_to_fpkm)
export(counts_to_tpm)
export(fpkm_to_tpm)
export(get_gencode_coords)
export(hla_apply_zigosity_threshold)
export(hla_compile_index)
export(hla_genotype)
export(hla_read_alignment)
export(hla_readtx)
export(hla_trimnames)
export(phase_hla)
export(read_phase)
export(read_phase_probs)
export(read_qtltools)
export(read_qtltools_rtc)
